.button {
  display: inline-block;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  color: #000000;
  background-color: #4dffea;
  border-radius: 30px;
  padding: 16px 64px;
  cursor: pointer;
  border: none;
}
.button:hover {
  color: #4dffea;
  background-color: #000000;
  text-decoration: none;
}
